{% load component %}

<nav class="{% if request.resolver_match.url_name == 'home' %}navbar-transparent{% else %}navbar{% endif %}">
    <a href="{% url 'home' %}" aria-label="logo button">
        <img src="https://static.farmec.ie/farmec_images/farmeclogo.webp" alt="Farmec Logo" width="250" height="250" />
    </a>

    <ul class="nav-list">
        <!-- About Us -->
        <li class="nav-item">
            <a href="{% url 'about' %}" class="nav-list-item">About Us</a>
            <ul class="nav-drop">
                <li class="nav-drop-item">
                    <a href="{% url 'about' %}">Staff & Management</a>
                </li>
                <li class="nav-drop-item">
                    <a href="{% url 'about' %}#timeline">Company History</a>
                </li>
                <li class="nav-drop-item">
                    <a href="{% url 'privacy' %}">Terms of Use</a>
                </li>
            </ul>
        </li>

        <!-- Suppliers -->
        <li class="nav-item">
            <a href="{% url 'suppliers-list' %}" class="nav-list-item">Suppliers</a>
            {% if suppliers %}
            <ul class="nav-drop">
                {% for supplier in suppliers %}
                <li class="nav-drop-item">
                    <a href="{% url 'suppliers-detail' supplier.id %}">{{ supplier.name }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>

        <!-- Spare Parts -->
        <li class="nav-item">
            <a href="{% url 'spareparts-list' %}" class="nav-list-item">Spare Parts</a>
            {% if suppliers %}
            <ul class="nav-drop">
                {% for supplier in suppliers %}
                <li class="nav-drop-item">
                    <a href="{% url 'spareparts-detail' supplier.id %}">{{ supplier.name }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>

        <!-- Blog -->
        <li class="nav-item">
            <a href="{% url 'blogs-list' %}" class="nav-list-item">Blog</a>
            <ul class="nav-drop">
                <li class="nav-drop-item">
                    <a href="{% url 'blogs-list' %}">Latest Posts</a>
                </li>
                <li class="nav-drop-item">
                    <a href="{% url 'exhibitions-list' %}">Exhibition Information</a>
                </li>
            </ul>
        </li>

        <!-- Contact -->
        <li class="nav-item">
            <a href="/#contact" class="nav-list-item">Contact</a>
        </li>

        <!-- Account Button -->
        {% account_button %}
    </ul>
</nav>
