---
import styles from '../styles/Account.module.css'
import utils from '../styles/Utils.module.css'


import Layout from "../layouts/Layout.astro";
import LogoutForm from '../components/client/LogoutForm';
import RegisterForm from '../components/client/RegisterForm';



---

<Layout title='Login'>
    <div class={styles.accountMap}>
        <LogoutForm client:only="solid-js" />
        <RegisterForm client:only="solid-js" />
    </div>
</Layout>

<script>
    import { createSignal } from 'solid-js';
const [isAdmin, setIsAdmin] = createSignal(false);
  fetch('http://localhost:4321/api/auth/admin', {
      credentials: 'include'
  })
  .then(response => response.json())
  .then(data => {
      setIsAdmin(data.isAdmin);
  })
  .catch(error => console.error('Error fetching admin status:', error));

</script>
