{% extends "base.html" %}

{% block title %}Page Not Found - Farmec Ireland Ltd{% endblock %}

{% block content %}
<div class="error-page">
    <h1 class="section-heading">Page Not Found:</h1>
    <p class="sub-heading">Here are some pages you might be interested in:</p>
    <ul class="routes-list">
        <li>
            <a href="{% url 'home' %}">
                <button class="btn">
                    Home <i class="fas fa-arrow-right"></i>
                </button>
            </a>
        </li>
        <li>
            <a href="{% url 'about' %}">
                <button class="btn">
                    About <i class="fas fa-arrow-right"></i>
                </button>
            </a>
        </li>
        <li>
            <a href="{% url 'spareparts-list' %}">
                <button class="btn">
                    Spare Parts <i class="fas fa-arrow-right"></i>
                </button>
            </a>
        </li>
        <li>
            <a href="{% url 'suppliers-list' %}">
                <button class="btn">
                    Suppliers <i class="fas fa-arrow-right"></i>
                </button>
            </a>
        </li>
        <li>
            <a href="{% url 'blogs-list' %}">
                <button class="btn">
                    Blogs <i class="fas fa-arrow-right"></i>
                </button>
            </a>
        </li>
    </ul>
</div>
{% endblock %}
