{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Farmec Ireland{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}{% endblock %}
    {% tailwind_css %}
    {% block extra_css %}{% endblock %}
</head>

<body class="bg-gray-50 text-gray-900 font-sans leading-normal tracking-normal">
<main class="container mx-auto px-4 py-8">
    {% block content %}{% endblock %}
</main>
{% block extra_js %}{% endblock %}
</body>
</html>
