package components

import (
    "fmt"
)

templ Icon(path string, width int, light bool) {
    if light {
        <img
            src={"/public/icons/" + path}
            class="mainIcon icon-light"
            width={fmt.Sprintf("%d", width)}
            alt="icon"
        />
    } else {
        <img
            src={"/public/icons/" + path}
            class="mainIcon"
            width={fmt.Sprintf("%d", width)}
            alt="icon"
        />
    }
}