package forms

import (
    "github.com/sean-david-welch/farmec-v2/server/views/components"
)

templ FormDialog(id string, content templ.Component) {
    <dialog id={id} class="dialog">
        @content
        <button class="dialog-btn" formmethod="dialog">
            @components.Icon("x.svg", 24)
        </button>
    </dialog>

    <script src="/static/js/dialog.js"></script>
}