package views

import (
    "fmt"
)

templ Icon(path string, width int, height int) {
    <svg class="icon" width={fmt.Sprintf("%d", width)} height={fmt.Sprintf("%d", height)}>
        <use href={"/public/icons/" + path + "#icon"}></use>
    </svg>
}