<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<table width="100%" cellpadding="0" cellspacing="0" class="wrapper">
    <tr>
        <td align="center">
            <table width="620" cellpadding="0" cellspacing="0" class="card">

                <!-- Header -->
                <tr>
                    <td class="header">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <div class="brand-name">FARMEC</div>
                                    <div class="brand-subtitle">Importers &amp; Distributors of Quality Agricultural
                                        Machinery
                                    </div>
                                </td>
                                <td align="right" class="doc-info">
                                    <div class="doc-title">Machine Registration</div>
                                    <div class="doc-ref">Ref: {{ reg.serial_number }}</div>
                                    {% if reg.date %}
                                        <div class="doc-date">Date: {{ reg.date }}</div>{% endif %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- Body -->
                <tr>
                    <td class="body">

                        <!-- Dealer -->
                        <table width="100%" cellpadding="0" cellspacing="0" class="section">
                            <tr>
                                <td class="section-title">Dealer</td>
                            </tr>
                            <tr>
                                <td class="section-body">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="50%" class="field-col-left">
                                                <div class="field-label">Dealer Name</div>
                                                <div class="field-value">{{ reg.dealer_name }}</div>
                                            </td>
                                            <td width="50%" class="field-col-right">
                                                <div class="field-label">Dealer Address</div>
                                                <div class="field-value">{{ reg.dealer_address|default:'' }}</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!-- Owner -->
                        <table width="100%" cellpadding="0" cellspacing="0" class="section">
                            <tr>
                                <td class="section-title">Owner</td>
                            </tr>
                            <tr>
                                <td class="section-body">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="50%" class="field-col-left">
                                                <div class="field-label">Owner Name</div>
                                                <div class="field-value">{{ reg.owner_name }}</div>
                                            </td>
                                            <td width="50%" class="field-col-right">
                                                <div class="field-label">Owner Address</div>
                                                <div class="field-value">{{ reg.owner_address|default:'' }}</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!-- Machine -->
                        <table width="100%" cellpadding="0" cellspacing="0" class="section">
                            <tr>
                                <td class="section-title">Machine</td>
                            </tr>
                            <tr>
                                <td class="section-body">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="50%" class="field-col-left">
                                                <div class="field-label">Machine Model</div>
                                                <div class="field-value">{{ reg.machine_model }}</div>
                                            </td>
                                            <td width="50%" class="field-col-right">
                                                <div class="field-label">Serial Number</div>
                                                <div class="field-value">{{ reg.serial_number }}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50%" class="field-col-left">
                                                <div class="field-label">Install Date</div>
                                                <div class="field-value">{{ reg.install_date|default:'' }}</div>
                                            </td>
                                            <td width="50%" class="field-col-right">
                                                <div class="field-label">Invoice Number</div>
                                                <div class="field-value">{{ reg.invoice_number|default:'' }}</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!-- Pre-Delivery Checklist -->
                        <table width="100%" cellpadding="0" cellspacing="0" class="section">
                            <tr>
                                <td class="section-title">Pre-Delivery Checklist</td>
                            </tr>
                            <tr>
                                <td class="section-body">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="50%" class="field-col-top">
                                                <table cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td class="checkbox {% if reg.complete_supply %}checked{% endif %}">
                                                            {% if reg.complete_supply %}&#10003;{% endif %}</td>
                                                        <td class="checkbox-label">Complete Supply</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="50%" class="field-col-top">
                                                <table cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td class="checkbox {% if reg.pdi_complete %}checked{% endif %}">
                                                            {% if reg.pdi_complete %}&#10003;{% endif %}</td>
                                                        <td class="checkbox-label">PDI Complete</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50%" class="field-col-top">
                                                <table cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td class="checkbox {% if reg.pto_correct %}checked{% endif %}">
                                                            {% if reg.pto_correct %}&#10003;{% endif %}</td>
                                                        <td class="checkbox-label">PTO Correct</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="50%" class="field-col-top">
                                                <table cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td class="checkbox {% if reg.machine_test_run %}checked{% endif %}">
                                                            {% if reg.machine_test_run %}&#10003;{% endif %}</td>
                                                        <td class="checkbox-label">Machine Test Run</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50%" class="field-col-top">
                                                <table cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td class="checkbox {% if reg.safety_induction %}checked{% endif %}">
                                                            {% if reg.safety_induction %}&#10003;{% endif %}</td>
                                                        <td class="checkbox-label">Safety Induction</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="50%" class="field-col-top">
                                                <table cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td class="checkbox {% if reg.operator_handbook %}checked{% endif %}">
                                                            {% if reg.operator_handbook %}&#10003;{% endif %}</td>
                                                        <td class="checkbox-label">Operator Handbook Provided</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!-- Completion -->
                        <table width="100%" cellpadding="0" cellspacing="0" class="section">
                            <tr>
                                <td class="section-title">Completion</td>
                            </tr>
                            <tr>
                                <td class="section-body">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="50%" class="field-col-left">
                                                <div class="field-label">Date</div>
                                                <div class="field-value">{{ reg.date|default:'' }}</div>
                                            </td>
                                            <td width="50%" class="field-col-right">
                                                <div class="field-label">Completed By</div>
                                                <div class="field-value">{{ reg.completed_by|default:'' }}</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>

                <!-- Footer -->
                <tr>
                    <td class="footer">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="footer-text">Farmec Ireland Ltd.</td>
                                <td align="right" class="footer-text">{{ generated_date }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>

</body>
</html>
