<li class="nav-item">
    {% if is_authenticated %}
        <p class="nav-list-item">Account</p>
    {% else %}
        <a href="{% url 'login' %}" class="nav-list-item">Login</a>
    {% endif %}

    <ul class="nav-drop">
        {% if is_admin %}
            <li class="nav-drop-item">
                <a href="{% url 'admin:index' %}">Users</a>
            </li>
            <li class="nav-drop-item">
                <a href="{% url 'admin:content_carousel_changelist' %}">Carousels</a>
            </li>
            <li class="nav-drop-item">
                <a href="{% url 'admin:catalog_lineitems_changelist' %}">Line Items</a>
            </li>
            <li class="nav-drop-item">
                <a href="{% url 'admin:support_warrantyclaim_changelist' %}">Warranty</a>
            </li>
            <li class="nav-drop-item">
                <a href="{% url 'admin:support_machineregistration_changelist' %}">Registrations</a>
            </li>
            {% if line_item %}
                <li class="nav-drop-item">
{#                    <a href="{% url 'checkout' line_item.id %}">Checkout</a>#}
                </li>
            {% endif %}
            <li class="nav-drop-item">
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" style="background: none; border: none; cursor: pointer; color: inherit;">Logout</button>
                </form>
            </li>
        {% elif is_authenticated %}
            <li class="nav-drop-item">
                <a href="{% url 'warranty-claims-list' %}">Warranty Claims</a>
            </li>
            <li class="nav-drop-item">
                <a href="{% url 'registrations-list' %}">Registrations</a>
            </li>
            {% if line_item %}
                <li class="nav-drop-item">
{#                    <a href="{% url 'checkout' line_item.id %}">Checkout</a>#}
                </li>
            {% endif %}
            <li class="nav-drop-item">
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" style="background: none; border: none; cursor: pointer; color: inherit;">Logout</button>
                </form>
            </li>
        {% endif %}
    </ul>
</li>
