.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    margin-top: 2.5rem;
    margin-bottom: 6rem;
    margin-left: 9rem;
    margin-right: 9rem;
}

@media (max-width: 768px) {
    .employees {
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
        gap: 1.25rem;
    }
}

.employee-card {
    background-color: #27272a;
    border: 4px solid #52525b;
    border-radius: 0.75rem;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    transition: all 700ms ease-in-out;
}

.employee-card:hover {
    border-color: #dc2626;
    transform: scale(1.025);
}

.employee-card > * {
    margin-bottom: 2.5rem;
}

.employee-card img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #27272a;
    border: 4px solid #52525b;
    border-radius: 0.75rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 1rem;
    width: 70vw;
    transition: all 700ms ease-in-out;
}

@media (max-width: 768px) {
    .timeline-card {
        width: 70vw;
    }
}

.timeline-card > * {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
}

.timeline-card:hover {
    border-color: #dc2626;
    transform: scale(1.025);
}

.clock-icon {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

.info-card {
    margin-left: 11rem;
    margin-right: 11rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 1rem;
    background-color: #27272a;
    border: 4px solid #52525b;
    border-radius: 0.75rem;
    transition: all 700ms ease-in-out;
}

@media (max-width: 768px) {
    .info-card {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}

.info-card:hover {
    border-color: #dc2626;
    transform: scale(1.025);
}
