.accountMap {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 1rem;
    border: 4px solid #27272a;
    background-color: #27272a;
    margin-left: 13rem;
    margin-right: 13rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2.5rem;
}

@media (max-width: 768px) {
    .accountMap {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        padding: 0.5rem;
    }
}

.accountSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 1rem;
    border: 4px solid #52525b;
    background-color: #27272a;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2.5rem;
}

@media (max-width: 768px) {
    .accountSection {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        grid-template-columns: 1fr;
        padding: 0.5rem;
    }
}

.accountSection > * {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.productView {
    margin-left: 18rem;
    margin-right: 18rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    border-radius: 1rem;
    border: 4px solid #52525b;
    background-color: #27272a;
    transition: all 500ms ease-in-out;
}

@media (max-width: 768px) {
    .productView {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.productView > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.productView:hover {
    border-color: #b91c1c;
}

.productView img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.75rem;
    transition: all 500ms ease-in-out;
}

.carouselAdmin {
    margin-left: 18rem;
    margin-right: 18rem;
    border-radius: 1rem;
    border: 4px solid #52525b;
    background-color: #27272a;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 0.5rem;
}

@media (max-width: 768px) {
    .carouselAdmin {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.carouselAdmin > img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.warrantyDetail {
    display: flex;
    flex-direction: column;
    margin-left: 13rem;
    margin-right: 13rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 4px solid #52525b;
    background-color: #27272a;
    transition: all 500ms ease-in-out;
}

@media (max-width: 768px) {
    .warrantyDetail {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}

.warrantyDetail:hover {
    border-color: #b91c1c;
}

.warrantyGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.label {
    font-size: 1.25rem;
    text-transform: capitalize;
}

.warrantyView {
    transition: all 700ms ease-in-out;
    border-radius: 1rem;
    border: 4px solid #27272a;
    background-color: #27272a;
    margin-left: 14rem;
    margin-right: 14rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.warrantyView:hover {
    border-color: #b91c1c;
}

@media (max-width: 768px) {
    .warrantyView {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}

.userGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
    .userGrid {
        grid-template-columns: 1fr;
    }
}

.userSection {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 4px solid #52525b;
    background-color: #27272a;
}

@media (max-width: 768px) {
    .userSection {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.userCard {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .userCard {
        flex-direction: column;
    }
}

.userCard > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
