.account-map {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 1rem;
    border: 4px solid var(--color-bg-dark);
    background-color: var(--color-bg-dark);
    margin-inline: 13rem 13rem;
    margin-block: 2rem 2rem;
    padding: 2.5rem;
}

@media (max-width: 768px) {
    .account-map {
        margin-inline: 1.25rem 1.25rem;
        padding: 0.5rem;
    }
}

.account-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 1rem;
    border: 4px solid var(--color-border-dark);
    background-color: var(--color-bg-dark);
    margin-inline: 4rem 4rem;
    margin-block: 2rem 2rem;
    padding: 2.5rem;
}

@media (max-width: 768px) {
    .account-section {
        margin-inline: 1.25rem 1.25rem;
        grid-template-columns: 1fr;
        padding: 0.5rem;
    }
}

.account-section > * {
    display: flex;
    flex-direction: column;
    margin-block: 2.5rem 2.5rem;
}

.product-view {
    margin-inline: 18rem 18rem;
    margin-block: 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    border-radius: 1rem;
    border: 4px solid var(--color-border-dark);
    background-color: var(--color-bg-dark);
    transition: all 500ms ease-in-out;
}

@media (max-width: 768px) {
    .product-view {
        margin-inline: 0.5rem 0.5rem;
    }
}

.product-view > * {
    margin-block: 0.5rem 0.5rem;
}

.product-view:hover {
    border-color: var(--color-primary-dark);
}

.product-view img {
    margin-inline: auto;
    border-radius: 0.75rem;
    transition: all 500ms ease-in-out;
}

.carousel-admin {
    margin-inline: 18rem 18rem;
    border-radius: 1rem;
    border: 4px solid var(--color-border-dark);
    background-color: var(--color-bg-dark);
    margin-block: 2.5rem 2.5rem;
    padding: 0.5rem;
}

@media (max-width: 768px) {
    .carousel-admin {
        margin-inline: 0.5rem 0.5rem;
    }
}

.carousel-admin > img {
    margin-inline: auto;
    margin-block: 1rem 1rem;
    border-radius: 1rem;
}

.warranty-detail {
    display: flex;
    flex-direction: column;
    margin-inline: 13rem 13rem;
    margin-block: 2.5rem 2.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 4px solid var(--color-border-dark);
    background-color: var(--color-bg-dark);
    transition: all 500ms ease-in-out;
}

@media (max-width: 768px) {
    .warranty-detail {
        margin-inline: 1.25rem 1.25rem;
    }
}

.warranty-detail:hover {
    border-color: var(--color-primary-dark);
}

.warranty-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.label {
    font-size: 1.25rem;
    text-transform: capitalize;
}

.warranty-view {
    transition: all 700ms ease-in-out;
    border-radius: 1rem;
    border: 4px solid var(--color-bg-dark);
    background-color: var(--color-bg-dark);
    margin-inline: 14rem 14rem;
    margin-block: 1rem 1rem;
    padding: 0.5rem;
}

.warranty-view:hover {
    border-color: var(--color-primary-dark);
}

@media (max-width: 768px) {
    .warranty-view {
        margin-inline: 1.25rem 1.25rem;
    }
}

.user-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
    .user-grid {
        grid-template-columns: 1fr;
    }
}

.user-section {
    margin-inline: 4rem 4rem;
    margin-block: 1rem 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 4px solid var(--color-border-dark);
    background-color: var(--color-bg-dark);
}

@media (max-width: 768px) {
    .user-section {
        margin-inline: 0.5rem 0.5rem;
    }
}

.user-card {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .user-card {
        flex-direction: column;
    }
}

.user-card > * {
    margin-block: 1rem 1rem;
}
