.blog-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.blog-card {
    display: flex;
    flex-direction: row;
    margin-left: 13rem;
    margin-right: 13rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 0.75rem;
    border: 4px solid #52525b;
    background-color: #27272a;
    transition: all 700ms ease-in-out;
}

@media (max-width: 768px) {
    .blog-card {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        flex-direction: column-reverse;
    }
}

.blog-card:hover {
    border-color: #dc2626;
    transform: scale(1.025);
}

.blog-card img {
    width: 100%;
    max-width: 500px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-right: 4px solid #52525b;
    object-fit: cover;
}

@media (max-width: 768px) {
    .blog-card img {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-top-left-radius: 0;
        border-right: 0;
        border-top: 4px solid #52525b;
    }
}

.blog-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.blog-link > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.blog-detail {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-left: 18rem;
    margin-right: 18rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
    .blog-detail {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
}

.blog-detail img {
    width: 600px;
}

.blog-detail > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.blog-body {
    border-radius: 0.75rem;
    border: 4px solid #52525b;
    background-color: #27272a;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    transition: all 700ms ease-in-out;
}

@media (max-width: 768px) {
    .blog-body {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

.blog-body:hover {
    border-color: #dc2626;
    transform: scale(1.005);
}

.blog-body img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.exhibitions {
    margin-left: 13rem;
    margin-right: 13rem;
    display: grid;
    grid-template-columns: 1fr;
}

@media (max-width: 768px) {
    .exhibitions {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}

.exhibition {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 0.75rem;
    border: 4px solid #52525b;
    background-color: #27272a;
    padding: 1rem;
    transition: all 700ms ease-in-out;
}

.exhibition:hover {
    border-color: #dc2626;
    transform: scale(1.005);
}
