.blog-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.blog-card {
    display: flex;
    flex-direction: row;
    margin-inline: 13rem 13rem;
    margin-block: 2.5rem 2.5rem;
    border-radius: 0.75rem;
    border: 4px solid var(--color-border-dark);
    background-color: var(--color-bg-dark);
    transition: all 700ms ease-in-out;
}

@media (max-width: 768px) {
    .blog-card {
        margin-inline: 1.25rem 1.25rem;
        flex-direction: column-reverse;
    }
}

.blog-card:hover {
    border-color: var(--color-primary);
    transform: scale(1.025);
}

.blog-card img {
    width: 100%;
    max-width: 500px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-right: 4px solid var(--color-border-dark);
    object-fit: cover;
}

@media (max-width: 768px) {
    .blog-card img {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-top-left-radius: 0;
        border-right: 0;
        border-top: 4px solid var(--color-border-dark);
    }
}

.blog-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.blog-link > * {
    margin-block: 0.5rem 0.5rem;
}

.blog-detail {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    margin-inline: 18rem 18rem;
    margin-block: 2.5rem 2.5rem;
}

@media (max-width: 768px) {
    .blog-detail {
        margin-inline: 1.25rem 1.25rem;
        margin-block: 1.25rem 1.25rem;
    }
}

.blog-detail img {
    width: 600px;
}

.blog-detail > * {
    margin-block: 0.5rem 0.5rem;
}

.blog-body {
    border-radius: 0.75rem;
    border: 4px solid var(--color-border-dark);
    background-color: var(--color-bg-dark);
    padding-inline: 6rem;
    padding-block: 2rem 2rem;
    transition: all 700ms ease-in-out;
}

@media (max-width: 768px) {
    .blog-body {
        padding-inline: 1.25rem;
    }
}

.blog-body:hover {
    border-color: var(--color-primary);
    transform: scale(1.005);
}

.blog-body img {
    margin-inline: auto;
    margin-block: 1rem 1rem;
    border-radius: 0.5rem;
}

.exhibitions {
    margin-inline: 13rem 13rem;
    display: grid;
    grid-template-columns: 1fr;
}

@media (max-width: 768px) {
    .exhibitions {
        margin-inline: 1.25rem 1.25rem;
    }
}

.exhibition {
    margin-block: 1.25rem 1.25rem;
    border-radius: 0.75rem;
    border: 4px solid var(--color-border-dark);
    background-color: var(--color-bg-dark);
    padding: 1rem;
    transition: all 700ms ease-in-out;
}

.exhibition:hover {
    border-color: var(--color-primary);
    transform: scale(1.005);
}
