.footer {
    border-top: 2px solid var(--color-bg-darker);
    background-color: var(--color-bg-darker);
    padding-block: 3rem 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    transition: all 700ms ease-in-out;
}

.footer:hover {
    border-color: var(--color-primary);
}

@media (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
    }
}

.footer img {
    margin-inline: auto;
}

.footer-info {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
}

.footer-info > * {
    margin-inline: auto;
}

.company-info {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.company-info > * {
    margin-block: 0.25rem 0.25rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.footer-links {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-links img {
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
    margin-inline: auto;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-links img:hover {
    transform: scale(1.05);
}

.social-links {
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social-links svg {
    margin: 1rem;
    height: 1.75rem;
    border-radius: 0.5rem;
    border: 2px solid;
    cursor: pointer;
    padding: 0.75rem;
    transition: all 700ms ease-in-out;
}

.social-links path {
    transition: all 700ms ease-in-out;
}

.social-links svg:hover {
    border-color: var(--color-primary-dark);
}

.social-links svg:hover path {
    fill: var(--color-primary-dark);
}

.nav-links {
    display: flex;
    flex-direction: column;
}

.nav-links > * {
    margin-block: 0.5rem 0.5rem;
}

.to-top-button {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 30;
    cursor: pointer;
    border-radius: 9999px;
    border: 2px solid var(--color-bg-dark);
    background-color: var(--color-text-primary);
    padding-inline: 0.75rem;
    padding-block: 1.25rem 1.25rem;
    transition: all 300ms ease-in-out;
}

.to-top-button:hover,
.to-top-button:hover svg path {
    border: 2px solid var(--color-accent-indigo);
    background-color: var(--color-bg-medium);
    fill: var(--color-accent-indigo);
}

.to-top-button svg path {
    fill: var(--color-accent-indigo);
}
