.navbar {
    margin-block: auto auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-bg-darker);
    padding-block: 1.25rem 1.25rem;
    color: var(--color-text-light);
    position: fixed;
    top: 0;
    z-index: 50;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
}

.transparent-nav {
    margin-block: auto auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding-block: 1.25rem 1.25rem;
    position: fixed;
    top: 0;
    z-index: 50;
    background-color: transparent;
    color: var(--color-bg-darker);
}

@media (max-width: 768px) {
    .transparent-nav {
        display: none;
    }
}

.navbar > * {
    white-space: nowrap;
}

.nav-list {
    margin-block: auto auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-list > * {
    margin-inline: 3rem 3rem;
    margin-block: auto auto;
}

.nav-item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 10;
    font-size: 1.125rem;
    font-weight: 700;
}

.nav-list-item {
    position: relative;
    z-index: 20;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.nav-item:hover {
    color: var(--color-primary);
    border-radius: 1rem;
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.nav-drop {
    background-color: var(--color-bg-darker);
    margin-inline: auto;
    margin-block: 2.5rem 2.5rem;
    width: 10rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
    border-radius: 0.5rem;
    transition: all 500ms ease-in-out;
    visibility: collapse;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item:hover .nav-drop {
    opacity: 1;
    visibility: visible;
}

.nav-drop-item {
    font-size: 0.875rem;
    font-weight: 600;
    margin-block: 0.5rem 0.5rem;
    padding-inline: 0.5rem;
    padding-block: 0.5rem 0.5rem;
    margin-inline: auto;
    width: 10rem;
    border-radius: 0.5rem;
    color: var(--color-text-light);
    transition: colors 500ms ease-in-out;
}

.nav-drop-item:hover {
    background-color: var(--color-primary);
}
