.navbar {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    background-color: #18181b;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #e5e7eb;
    position: fixed;
    top: 0;
    z-index: 50;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
}

.transparentNav {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    position: fixed;
    top: 0;
    z-index: 50;
    background-color: transparent;
    color: #18181b;
}

@media (max-width: 768px) {
    .transparentNav {
        display: none;
    }
}

.navbar > * {
    white-space: nowrap;
}

.navList {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navList > * {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: auto;
    margin-bottom: auto;
}

.navItem {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 10;
    font-size: 1.125rem;
    font-weight: 700;
}

.navListItem {
    position: relative;
    z-index: 20;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.navItem:hover {
    color: #dc2626;
    border-radius: 1rem;
    text-decoration: underline;
    text-decoration-color: #dc2626;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.navDrop {
    background-color: #18181b;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    width: 10rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
    border-radius: 0.5rem;
    transition: all 500ms ease-in-out;
    visibility: collapse;
    left: 50%;
    transform: translateX(-50%);
}

.navItem:hover .navDrop {
    opacity: 1;
    visibility: visible;
}

.navDropItem {
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    border-radius: 0.5rem;
    color: #e5e7eb;
    transition: colors 500ms ease-in-out;
}

.navDropItem:hover {
    background-color: #dc2626;
}
