/* Contact form */
.contactSection {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 2.5rem;
    display: grid;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #27272a;
    grid-template-columns: 1fr 2fr 1fr;
}

@media (max-width: 768px) {
    .contactSection {
        grid-template-columns: 1fr;
    }
}

.contactSection > * {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .contactSection > * {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.contactForm label {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: #111827;
}

@media (prefers-color-scheme: dark) {
    .contactForm label {
        color: #ffffff;
    }
}

.contactForm input,
.contactForm select,
.contactForm textarea {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.75rem;
    border: 1px solid #d1d5db;
    padding: 0.625rem;
    font-size: 0.875rem;
    color: #27272a;
    border-color: #52525b;
    background-color: #f4f4f5;
    color: #27272a;
}

.contactForm input::placeholder,
.contactForm select::placeholder,
.contactForm textarea::placeholder {
    color: #27272a;
}

.contactForm input:focus,
.contactForm select:focus,
.contactForm textarea:focus {
    border-color: #b91c1c;
    ring-color: #b91c1c;
}

.contactForm {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    width: 20vw;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #27272a;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

@media (max-width: 768px) {
    .contactForm {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        width: 70vw;
    }
}

.recapcha {
    margin-left: auto;
    margin-right: auto;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.75rem;
}

@media (max-width: 768px) {
    .map {
        width: 70vw;
    }
}

.infoSection {
    display: flex;
    width: 250px;
    flex-direction: column;
}

@media (max-width: 768px) {
    .infoSection {
        width: 70vw;
    }
}

.subHeading {
    font-size: 1.5rem;
    color: #e5e7eb;
    text-decoration: underline;
}

.info {
    margin-top: 1rem;
}

.infoItem {
    bottom: 1rem;
    border-radius: 0.5rem;
    border-color: #0a0a0a;
    background-color: #27272a;
    font-size: 1.125rem;
    font-weight: 500;
    color: #f4f4f5;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.infoItemText {
    font-size: 1.125rem;
    font-weight: 500;
    color: #f4f4f5;
}

.socialLinks {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.socialLinks svg {
    margin: 1rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid;
    cursor: pointer;
    padding: 0.75rem;
    transition: all 700ms ease-in-out;
}

.socialLinks path {
    transition: all 700ms ease-in-out;
}

.socialLinks svg:hover {
    border-color: #b91c1c;
}

.socialLinks svg:hover path {
    fill: #b91c1c;
}
