/* Contact form */
.contact-section {
    margin-inline: 2.5rem 2.5rem;
    margin-bottom: 2.5rem;
    display: grid;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-bg-dark);
    grid-template-columns: 1fr 2fr 1fr;
}

@media (max-width: 768px) {
    .contact-section {
        grid-template-columns: 1fr;
    }
}

.contact-section > * {
    margin-inline: 2rem 2rem;
    margin-block: 0.5rem 0.5rem;
}

@media (max-width: 768px) {
    .contact-section > * {
        margin-inline: 0.5rem 0.5rem;
    }
}

.contact-form label {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-bg-darkest);
}

@media (prefers-color-scheme: dark) {
    .contact-form label {
        color: var(--color-white);
    }
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    margin-block: 1rem 1rem;
    border-radius: 0.75rem;
    border: 1px solid var(--color-border-light);
    padding: 0.625rem;
    font-size: 0.875rem;
    color: var(--color-bg-dark);
    border-color: var(--color-border-dark);
    background-color: var(--color-bg-lighter);
    color: var(--color-bg-dark);
}

.contact-form input::placeholder,
.contact-form select::placeholder,
.contact-form textarea::placeholder {
    color: var(--color-bg-dark);
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
    border-color: var(--color-primary-dark);
}

.contact-form {
    margin-inline: 0.5rem 0.5rem;
    display: flex;
    width: 20vw;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: var(--color-bg-dark);
    padding-block: 0.5rem 0.5rem;
    text-align: center;
}

@media (max-width: 768px) {
    .contact-form {
        margin-inline: 0.5rem 0.5rem;
        width: 70vw;
    }
}

.recapcha {
    margin-inline: auto;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    border-radius: 0.75rem;
}

@media (max-width: 768px) {
    .map {
        width: 70vw;
    }
}

.info-section {
    display: flex;
    width: 250px;
    flex-direction: column;
}

@media (max-width: 768px) {
    .info-section {
        width: 70vw;
    }
}

.sub-heading {
    font-size: 1.5rem;
    color: var(--color-text-light);
    text-decoration: underline;
}

.info {
    margin-top: 1rem;
}

.info-item {
    bottom: 1rem;
    border-radius: 0.5rem;
    border-color: #0a0a0a;
    background-color: var(--color-bg-dark);
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--color-bg-lighter);
    margin-block: 1rem 1rem;
}

.info-item-text {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--color-bg-lighter);
}

.social-links {
    margin-inline: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social-links svg {
    margin: 1rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid;
    cursor: pointer;
    padding: 0.75rem;
    transition: all 700ms ease-in-out;
}

.social-links path {
    transition: all 700ms ease-in-out;
}

.social-links svg:hover {
    border-color: var(--color-primary-dark);
}

.social-links svg:hover path {
    fill: var(--color-primary-dark);
}
