.info {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #d4d4d8;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

@media (max-width: 768px) {
    .infoSection {
        width: 80vw;
    }
}

.infoSection > * {
    margin-left: auto;
    margin-right: auto;
}

.infoSection {
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
}

.infoSection .mainHeading {
    text-decoration-color: #dc2626;
}

/* Stats */

.stats {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9rem;
}

@media (max-width: 768px) {
    .stats {
        grid-template-columns: 1fr;
    }
}

.statList {
    display: grid;
    grid-template-columns: 1fr;
    transition: all 700ms ease-in-out;
}

.statList:hover {
    transform: scale(1.05);
}

.statList:hover svg path {
    fill: #b91c1c;
}

.statList:hover .statListItem {
    color: #b91c1c;
}

.statList > * {
    margin-left: 1rem;
    margin-right: 1rem;
}

.statListItem {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #27272a;
}

.statListItem:nth-child(3) {
    font-size: 1.125rem;
    font-weight: 400;
}

.statListItem svg {
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
}

.statListItem svg path {
    fill: #18181b;
    transition: all 700ms ease-in-out;
}

/* Specails */

.specials {
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
    .specials {
        grid-template-columns: 1fr;
    }
}

.specialList {
    display: grid;
    grid-template-columns: 1fr;
    transition: all 700ms ease-in-out;
}

.specialList:hover {
    transform: scale(1.05);
}

.specialList:hover svg path {
    fill: #b91c1c;
}

.specialList:hover .specialListItem {
    color: #b91c1c;
}

.specialList > * {
    margin-left: 1rem;
    margin-right: 1rem;
}

.specialListItem {
    font-size: 1.25rem;
    font-weight: 600;
    color: #27272a;
}

.specialListItem:nth-child(3) {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    font-size: 1rem;
    font-weight: 400;
}

.specialListItem svg {
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
}

.specialListItem svg path {
    fill: #18181b;
    transition: all 700ms ease-in-out;
}
