.info {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #d4d4d8;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

@media (max-width: 768px) {
    .info-section {
        width: 80vw;
    }
}

.info-section > * {
    margin-left: auto;
    margin-right: auto;
}

.info-section {
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
}

.info-section .main-heading {
    text-decoration-color: #dc2626;
}

/* Stats */

.stats {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9rem;
}

@media (max-width: 768px) {
    .stats {
        grid-template-columns: 1fr;
    }
}

.stat-list {
    display: grid;
    grid-template-columns: 1fr;
    transition: all 700ms ease-in-out;
}

.stat-list:hover {
    transform: scale(1.05);
}

.stat-list:hover svg path {
    fill: #b91c1c;
}

.stat-list:hover .stat-list-item {
    color: #b91c1c;
}

.stat-list > * {
    margin-left: 1rem;
    margin-right: 1rem;
}

.stat-list-item {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #27272a;
}

.stat-list-item:nth-child(3) {
    font-size: 1.125rem;
    font-weight: 400;
}

.stat-list-item svg {
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
}

.stat-list-item svg path {
    fill: #18181b;
    transition: all 700ms ease-in-out;
}

/* Specails */

.specials {
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
    .specials {
        grid-template-columns: 1fr;
    }
}

.special-list {
    display: grid;
    grid-template-columns: 1fr;
    transition: all 700ms ease-in-out;
}

.special-list:hover {
    transform: scale(1.05);
}

.special-list:hover svg path {
    fill: #b91c1c;
}

.special-list:hover .special-list-item {
    color: #b91c1c;
}

.special-list > * {
    margin-left: 1rem;
    margin-right: 1rem;
}

.special-list-item {
    font-size: 1.25rem;
    font-weight: 600;
    color: #27272a;
}

.special-list-item:nth-child(3) {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    font-size: 1rem;
    font-weight: 400;
}

.special-list-item svg {
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
}

.special-list-item svg path {
    fill: #18181b;
    transition: all 700ms ease-in-out;
}
