.machine-card {
    display: grid;
    grid-template-columns: 1fr;
    margin-block: 0.5rem 0.5rem;
    margin-inline: 13rem 13rem;
}

@media (max-width: 768px) {
    .machine-card {
        margin-inline: 1.25rem 1.25rem;
    }
}

.machine-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-border-dark);
    border: 4px solid var(--color-bg-dark);
    border-radius: 1rem;
    transition: all 700ms ease-in-out;
}

@media (max-width: 768px) {
    .machine-grid {
        flex-direction: column;
    }
}

.machine-grid:hover {
    background-color: var(--color-bg-medium);
    border-color: var(--color-bg-darker);
    transform: scale(1.01);
}

.machine-grid img {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: 4px solid var(--color-bg-dark);
}

@media (max-width: 768px) {
    .machine-grid img {
        object-fit: cover;
        border-bottom: 4px solid;
        border-right: 0;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0;
    }
}

.machine-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.machine-info > * {
    margin-block: 0.5rem 0.5rem;
}
