.machineCard {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 13rem;
    margin-right: 13rem;
}

@media (max-width: 768px) {
    .machineCard {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}

.machineGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #52525b;
    border: 4px solid #27272a;
    border-radius: 1rem;
    transition: all 700ms ease-in-out;
}

@media (max-width: 768px) {
    .machineGrid {
        flex-direction: column;
    }
}

.machineGrid:hover {
    background-color: #3f3f46;
    border-color: #18181b;
    transform: scale(1.01);
}

.machineGrid img {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: 4px solid #27272a;
}

@media (max-width: 768px) {
    .machineGrid img {
        object-fit: cover;
        border-bottom: 4px solid;
        border-right: 0;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0;
    }
}

.machineInfo {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.machineInfo > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
