.side-nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    min-height: 100vh;
    width: 100%;
    border-right: 2px solid;
    background-color: #18181b;
    color: #e5e7eb;
    border-color: #b91c1c;
    height: 100vh;
    transform: translateX(0);
    transition: all 700ms ease-in-out;
}

@media (min-width: 1024px) {
    .side-nav {
        display: none;
    }
}

.side-nav-open {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    min-height: 100vh;
    width: 100%;
    border-right: 2px solid;
    background-color: #18181b;
    color: #e5e7eb;
    border-color: #b91c1c;
    height: 100vh;
    transform: translateX(0);
    opacity: 1;
    overflow-y: hidden;
    transition: all 700ms ease-in-out;
}

@media (min-width: 1024px) {
    .side-nav-open {
        display: none;
    }
}

.side-nav-closed {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 700ms ease-in-out;
}

.backdrop {
    position: fixed;
    background-color: #18181b;
    z-index: 10;
    top: 0;
    height: 6rem;
    width: 100%;
    border-bottom: 4px solid #18181b;
    transition: all 700ms ease-out;
}

.backdrop:hover {
    border-color: #b91c1c;
}

/* Navigtion */
.nav-list {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.25rem;
    transition: all 500ms ease-in-out;
}

.nav-item:hover {
    color: #b91c1c;
}

.nav-item svg {
    height: 1rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* buttons */
.nav-icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #18181b;
    cursor: pointer;
    z-index: 40;
}

.nav-icon:hover {
    pointer-events: auto;
}

@media (min-width: 1024px) {
    .nav-icon {
        display: none;
    }
}

.nav-icon img {
    position: fixed;
    left: 1.25rem;
    top: 1.25rem;
    z-index: 50;
}

.navigation {
    height: 1.75rem;
    position: fixed;
    right: 1.25rem;
    top: 2rem;
    cursor: pointer;
    z-index: 50;
}

.navigation:hover {
    pointer-events: auto;
}
