.supplierCard {
    background-color: #27272a;
    margin-left: 13rem;
    margin-right: 13rem;
    border: 4px solid #52525b;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    transition: all 700ms ease-in-out;
}

@media (max-width: 768px) {
    .supplierCard {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}

.supplierCard:hover {
    border-color: #a1a1aa;
    transform: scale(1.025);
}

.supplierCard > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sparepartsCard {
    background-color: #27272a;
    margin-left: 13rem;
    margin-right: 13rem;
    border: 4px solid #52525b;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    transition: all 700ms ease-in-out;
}

@media (max-width: 768px) {
    .sparepartsCard {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}

.sparepartsCard:hover {
    border-color: #a1a1aa;
    transform: scale(1.025);
}

.sparepartsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
    .sparepartsGrid {
        display: flex;
        flex-direction: column-reverse;
    }
}

.sparepartsInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.sparepartsGrid img {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-left: 4px solid #52525b;
}

@media (max-width: 768px) {
    .sparepartsGrid img {
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
        border-bottom: 4px solid;
        border-bottom-right-radius: 0;
        border-left: 0;
    }
}

.partsColumn {
    display: flex;
    flex-direction: column-reverse;
}
