/* Suppliers Page */
.supplierCard {
    margin-left: 13rem;
    margin-right: 13rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 1rem;
    background-color: #27272a;
    border: 4px solid #52525b;
}

@media (max-width: 768px) {
    .supplierCard {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}

.supplierGrid {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
    .supplierGrid {
        grid-template-columns: 1fr;
    }
}

.supplierImage {
    border-radius: 0.5rem;
    border: 2px solid #a1a1aa;
}

.partsImage {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 0.5rem;
}

.supplierDetail .supplierImage {
    margin-left: auto;
    margin-right: auto;
}

.supplierHead {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .supplierHead > * {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.supplierLogo {
    margin-left: auto;
    margin-right: auto;
}

.supplierInfo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

.supplierInfo > * {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.supplierDescription {
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
    font-size: 1.125rem;
}

@media (max-width: 768px) {
    .supplierDescription {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}

/* Supplier Detail */
.supplierHeading {
    color: #27272a;
}

.supplierHeading > * {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.supplierDetail {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin-left: 13rem;
    margin-right: 13rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 1rem;
    background-color: #27272a;
    padding: 1.25rem;
    border: 4px solid #52525b;
}

@media (max-width: 768px) {
    .supplierDetail {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}

.supplierDetail > * {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

/* Social Links */
.socialLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socialLinks > a {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    height: 2.75rem;
    width: 2.75rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    transition: all 700ms ease-in-out;
}

@media (max-width: 768px) {
    .socialLinks > a {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        height: 2rem;
        width: 2rem;
    }
}

.socialLinks > a:hover {
    transform: scale(1.05);
}

.icon {
    height: 2rem;
    width: 2rem;
}

@media (max-width: 768px) {
    .icon {
        height: 1.25rem;
        width: 1.25rem;
    }
}

.socialLinks path {
    fill: #f3f4f6;
    transition: all 700ms ease-in-out;
}

.twitterButton {
    background-color: #3b82f6;
}

.linkedinButton {
    background-color: #1d4ed8;
}

.whatsappButton {
    background-color: #14532d;
}

.facebookButton {
    background-color: #1e40af;
}

.youtubeButton {
    background-color: #dc2626;
}

.websiteButton {
    background-color: #93c5fd;
}

.instagramButton {
    background: linear-gradient(to bottom right, #a855f7, #ec4899, #ef4444);
}

.videoGrid {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
    .videoGrid {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        grid-template-columns: 1fr;
    }
}

.videoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 1rem;
    background-color: #27272a;
    padding: 0.5rem;
    border: 4px solid #52525b;
}

@media (max-width: 768px) {
    .videoCard {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.videoCard > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.video {
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .video {
        width: 300px;
    }
}

/* Products */
.productGrid {
    margin-left: 13rem;
    margin-right: 13rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: 1fr;
}

@media (max-width: 768px) {
    .productGrid {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}

.productCard {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    border: 4px solid #52525b;
    background-color: #27272a;
    transition: all 500ms ease-in-out;
}

.productCard:hover {
    border-color: #b91c1c;
}

.productCard > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.productCard img {
    margin-left: auto;
    margin-right: auto;
    transition: all 500ms ease-in-out;
}

.productCard:hover img {
    transform: scale(1.05);
}

.productCard p {
    margin-left: 13rem;
    margin-right: 13rem;
}

@media (max-width: 768px) {
    .productCard p {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}
