.env.production
.tmp
.env-development
.env-production
service-account.json
/database
/database/database.db
/database/database.db-shm
/database/database.db-wal
/tmp/main
/tmp
/.env.production
/.env
node_modules
