---
import Layout from "../../layouts/Layout.astro";
import type Blog from '../../types/blog'

const { id } = Astro.params;

const blog: Blog = await fetch(`http://localhost:4321/api/blogs/${id}`)
    .then(response => response.json())
    .then(blogs => blogs[0]);

---

<Layout title={`Farmec | ${blog.title}` || 'Farmec'}>
    <h1>{blog.title || 'blog Not Found'}</h1>
    <img src={blog.main_image} alt={blog.title}>
</Layout>
