@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

@layer base {
    * {
        @apply margin-0 padding-0 box-border;
        font-family: var(--font-primary), sans-serif;
    }

    html {
        @apply scroll-smooth;
        overflow-x: hidden;
        max-width: 100%;
    }

    body {
        @apply bg-zinc-300 text-gray-200 min-h-screen;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-semibold;
    }
}

@layer components {
    .section-heading {
        @apply my-5 mx-auto text-3xl font-semibold;
        @apply text-zinc-900 underline decoration-red-600 decoration-4 underline-offset-8;
    }

    .main-heading {
        @apply mx-auto my-2 text-2xl font-semibold underline;
    }

    .sub-heading {
        @apply mx-40 mb-8 mt-2 text-center text-xl font-medium text-zinc-800;
    }

    .paragraph {
        @apply mx-auto text-base font-normal;
    }

    .about-heading {
        @apply mx-44;
    }

    .index-heading {
        @apply my-5 text-xl;
        @apply text-gray-200 underline decoration-red-600 decoration-4 underline-offset-8;
    }

    @screen md {
        .sub-heading {
            @apply mx-5;
        }

        .about-heading {
            @apply mx-2;
        }
    }
}
