---
import Hero from '../components/server/hero.astro';
import Layout from '../layouts/Layout.astro';

import utils from '../styles/Utils.module.css'

import Contact from '../components/server/contact.astro';
import Displays from '../components/server/displays.astro';

---

<Layout title="Farmec Ireland Ltd.">
	<section id="Home">
		<div class={utils.home}>
			<Hero/>
			<Displays />
			<Contact />
		</div>
	</section>
</Layout>
