---
import Layout from "../layouts/Layout.astro";

export interface Supplier {
  id: string;
  name: string;
  description: string;
  logo_image: string;
  marketing_image: string;
  social_facebook: string;
  social_instagram: string;
  social_linkedin: string;
  social_twitter: string;
  social_youtube: string;
  social_website: string;
}


const response = await fetch('http://localhost:4321/api/suppliers', {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json',
    }
})



const suppliers = await response.json();
---

<Layout title="Suppliers">
    <h1>Suppliers</h1>
    <ul>
        {suppliers.map((supplier: Supplier) => (
            <li>
                {supplier.name}             
            </li>
        ))}
    </ul>
</Layout>