<section id="Info">
    <div class="info-section">
        <h1 class="section-heading">Farmec At A Glance:</h1>
        <p class="sub-heading">
            This is a Quick Look at what Separates us from our Competitors
        </p>

        <div class="stats">
            <a href="{% url 'catalog:supplier_list' %}">
                <ul class="stat-list">
                    <li class="stat-list-item">Large Network</li>
                    <li class="stat-list-item"><i class="fa-solid fa-users"></i></li>
                    <li class="stat-list-item">50+ Dealers Nationwide</li>
                </ul>
            </a>

            <a href="#">
                <ul class="stat-list">
                    <li class="stat-list-item">Experience</li>
                    <li class="stat-list-item"><i class="fa-solid fa-business-time"></i></li>
                    <li class="stat-list-item">25+ Years in Business</li>
                </ul>
            </a>

            <a href="{% url 'catalog:supplier_list' %}">
                <ul class="stat-list">
                    <li class="stat-list-item">Diverse Range</li>
                    <li class="stat-list-item"><i class="fa-solid fa-handshake"></i></li>
                    <li class="stat-list-item">10+ Quality Suppliers</li>
                </ul>
            </a>

            <a href="#">
                <ul class="stat-list">
                    <li class="stat-list-item">Committment</li>
                    <li class="stat-list-item"><i class="fa-solid fa-wrench"></i></li>
                    <li class="stat-list-item">Warranty Guarantee</li>
                </ul>
            </a>
        </div>
    </div>

    <div class="info-section">
        <h1 class="section-heading">What Can We Offer:</h1>
        <p class="sub-heading">
            Farmec is committed to its customers and guarantees the following
        </p>

        <div class="specials">
            <a href="{% url 'catalog:supplier_list' %}">
                <ul class="special-list">
                    <li class="special-list-item">Quality Stock</li>
                    <li class="special-list-item"><i class="fa-solid fa-tractor"></i></li>
                    <li class="special-list-item">
                        Farmec is committed to the importation and distribution of only quality brands of unique farm machinery. We guarantee that all our suppliers are committed to providing farmers with durable and superior stock
                    </li>
                </ul>
            </a>

            <a href="{% url 'catalog:supplier_list' %}">
                <ul class="special-list">
                    <li class="special-list-item">Assembly</li>
                    <li class="special-list-item"><i class="fa-solid fa-toolbox"></i></li>
                    <li class="special-list-item">
                        Farmec have a team of qualified and experienced staff that ensure abundant care is taken during the assembly process; we make sure that a quality supply chain is maintained from manufacturer to customer
                    </li>
                </ul>
            </a>

            <a href="#">
                <ul class="special-list">
                    <li class="special-list-item">Spare Parts</li>
                    <li class="special-list-item"><i class="fa-solid fa-gears"></i></li>
                    <li class="special-list-item">
                        Farmec offers a diverse and complete range of spare parts for all its machinery. Quality stock control and industry expertise ensures parts finds their way to you efficiently
                    </li>
                </ul>
            </a>

            <a href="#contact">
                <ul class="special-list">
                    <li class="special-list-item">Customer Service</li>
                    <li class="special-list-item"><i class="fa-solid fa-user-plus"></i></li>
                    <li class="special-list-item">
                        Farmec is a family run company, we make sure we extend the ethos of a small community to our customers. We build established relationships with our dealers that provide them and the farmers with extensive guidance
                    </li>
                </ul>
            </a>
        </div>
    </div>
</section>
