{% load component_tags %}

<footer class="footer">
    <div class="footer-info">
        <a href="{% url 'home' %}" aria-label="logo button">
            <img
                src="https://www.farmec.ie/farmec_images/farmeclogo.webp"
                alt="Farmec Logo"
                width="180"
                height="180"
            />
        </a>

        <ul class="company-info">
            <li class="info-item">Farmec Ireland Ltd.</li>
            <li class="info-item">Clonross, Drumree</li>
            <li class="info-item">Co. Meath, A85 PK30</li>
            <li class="info-item">Tel: 01 - 8259289</li>
            <li class="info-item">Email: info@farmec.ie</li>
            <li class="info-item">
                <a href="{% url 'privacy' %}">Privacy Policy | Terms of Use</a>
            </li>
        </ul>
    </div>

    <div class="footer-links">
        <h1 class="main-heading">Accreditation</h1>
        <a href="https://ftmta.ie/" target="_blank" rel="noopener noreferrer">
            <img
                src="https://www.farmec.ie/farmec_images/ftmta-logo.webp"
                alt="FTMTA Logo"
                width="180"
                height="180"
            />
        </a>

        <div class="social-links">
            <a
                class="social-icon"
                href="https://www.facebook.com/FarmecIreland/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Visit our Facebook page">
                <i class="fab fa-facebook"></i>
            </a>
            <a
                class="social-icon"
                href="https://twitter.com/farmec1?lang=en"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Visit our Twitter page">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>

    <div class="footer-nav">
        <ul class="nav-links">
            <li>
                <a href="{% url 'home' %}" class="btn-footer">
                    Home <i class="fas fa-arrow-right"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'about' %}" class="btn-footer">
                    About <i class="fas fa-arrow-right"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'suppliers-list' %}" class="btn-footer">
                    Suppliers <i class="fas fa-arrow-right"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'spareparts-list' %}" class="btn-footer">
                    Spare Parts <i class="fas fa-arrow-right"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'blogs-list' %}" class="btn-footer">
                    Blog <i class="fas fa-arrow-right"></i>
                </a>
            </li>
        </ul>
    </div>

    {% to_top_button %}
</footer>
