{% load static %}

<section id="machines">
    <h1 class="section-heading">Machinery</h1>

    {% for machine in machines %}
    <div class="machine-card" id="{{ machine.name|slugify }}">
        <div class="machine-grid">
            <img
                src="{{ machine.machine_image }}"
                alt="{{ machine.name|default:'Default Image' }}"
                class="machine-image"
                width="600"
                height="600"
                onerror="this.src='{% static 'default.jpg' %}'"
            />

            <div class="machine-info">
                <h2 class="main-heading">{{ machine.name }}</h2>
                <p class="paragraph">{{ machine.description }}</p>
                <a href="{% url 'catalog:machine_detail' machine.slug %}" class="btn">
                    View Products <i class="fa-solid fa-right-to-bracket"></i>
                </a>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="paragraph">No machines to display.</p>
    {% endfor %}
</section>
