---

import { ViewTransitions } from 'astro:transitions';

import utils from '../styles/Utils.module.css'

import Header from './Header.astro';
import Footer from './Footer.astro'


interface Props {
	title: string;
}
const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link href="/styles/globals.css" rel="stylesheet" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body transition:persist>
		<Header/>
			<main class="max-w-full overflow-x-hidden mx-auto">
				<div class={utils.container}>
					<slot/>
				</div>
			</main>
		<Footer/>
	</body>
</html>