---
import Layout from "../../layouts/Layout.astro";
import type Supplier from "../../types/supplier"


export const prerender = true

const response = await fetch('http://localhost:4321/api/suppliers', {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json',
    }
})

const suppliers = await response.json();
---

<Layout title="Suppliers">
    <h1>Suppliers</h1>
    <ul>
        {suppliers.map((supplier: Supplier) => (
            <a href={`suppliers/${supplier.id}`}>
                {supplier.name}             
            </a>
        ))}
    </ul>
</Layout>