---
import type Carousel from '../../types/carousel';

import Slider from '../client/Slider';
import Heading from './heading.astro';

const carousels: Carousel[] = await fetch('http://localhost:4321/api/carousels').then(carousels => carousels.json());

const images = carousels.map(carousels => carousels.image)
---

<section id="Hero">
    <Slider images={images} client:load />
    <Heading />
</section>